<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="choose_beast.css" />
</head>
<body>
	<div id="popup-content">
		<div class="button beast">Frog</div>
		<div class="button beast">Turtle</div>
		<div class="button beast">Snake</div>
		<div class="button reset">Reset</div>
	</div>
	<div id="error-content" class="hidden">
		<p>Can't beastify this web page.</p>
		<p>Try a different page.</p>
	</div>
	<script src="choose_beast.js"></script>
</body>
</html>
